/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  font-family: 'Varela Round', sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-bar h1 {
  padding: 3% 0;
  font-size: 50px;
}
.nav-bar nav {
  display: flex;
  justify-content: space-around;
  width: 70%;
  padding: 1%;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.nav-bar .header-img {
  width: 97%;
  height: 278px;
  left: 0%;
  top: 5%;
}
@media (max-width: 500px) {
  .nav-bar nav {
    justify-content: space-around;
    width: 95%;
  }
}
footer {
  font-color: white;
  background: grey;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.story .story1 {
  width: 30%;
}
.story .story1 img {
  width: 100%;
  padding: 3%;
}
.story .story1 p {
  text-align: center;
  padding: 3% 9%;
}
.story .story1 button {
  padding: 1%;
  border-radius: 8px;
  background: grey;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 2% 25%;
  background-color: white;
  color: black;
  border: 2px solid #ff9efc;
}
.story .story1 button:hover {
  background-color: #ff9efc;
  color: white;
}
.story .story2 {
  width: 30%;
}
.story .story2 img {
  width: 100%;
  padding: 3%;
}
.story .story2 p {
  text-align: center;
  padding: 3% 9%;
}
.story .story2 button {
  padding: 1%;
  border-radius: 8px;
  background: grey;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 2% 25%;
  background-color: white;
  color: black;
  border: 2px solid #ff9efc;
}
.story .story2 button:hover {
  background-color: #ff9efc;
  color: white;
}
.story .story3 {
  width: 30%;
}
.story .story3 img {
  width: 94%;
  padding: 3%;
}
.story .story3 p {
  text-align: center;
  padding: 3% 9%;
}
.story .story3 button {
  padding: 1%;
  border-radius: 8px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 2% 25%;
  background-color: white;
  color: black;
  border: 2px solid #ff9efc;
}
.story .story3 button:hover {
  background-color: #ff9efc;
  color: white;
}
.about {
  width: 97%;
  padding: 3%;
}
.about h4 {
  font-size: 18px;
  text-align: center;
}
.about p {
  text-align: center;
}
