/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  border: 1px solid black;
  background-color: #000000;
  background-image: url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}
h2 {
  font-size: 30px;
}
h1 {
  font-family: 'Poppins', sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-bar h1 {
  padding: 0 0 3% 0;
  font-size: 50px;
}
.nav-bar h4 {
  font-size: 18px;
  text-align: center;
  margin: 2%;
}
.nav-bar nav {
  display: flex;
  justify-content: space-around;
  width: 97%;
  border-top: 2px dashed black;
  padding: 1% 0;
}
.nav-bar a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.nav-bar a:hover {
  color: #ff9efc;
}
.nav-bar .main-images {
  display: flex;
  justify-content: space-evenly;
}
.nav-bar .main-images .header-img {
  width: 47%;
  border: 1px dotted #ff9efc;
  padding: 1%;
}
.nav-bar .main-images .header-img2 {
  width: 47%;
  border: 1px dotted #ff9efc;
  padding: 1%;
}
@media (max-width: 500px) {
  .nav-bar .main-images {
    flex-direction: column;
  }
  .nav-bar .main-images .header-img {
    width: 97%;
    margin-bottom: 2%;
  }
  .nav-bar .main-images .header-img2 {
    width: 97%;
  }
}
@media (max-width: 500px) {
  .nav-bar nav {
    justify-content: space-around;
    width: 95%;
  }
}
footer {
  font-color: white;
  background: grey;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  .story {
    flex-direction: column;
  }
}
.story .story1 {
  width: 30%;
}
.story .story1 img {
  width: 100%;
  padding: 3%;
}
.story .story1 p {
  text-align: center;
  padding: 3% 9%;
}
.story .story1 button {
  padding: 1%;
  border-radius: 8px;
  background: grey;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 2% 29%;
  width: 50%;
  background-color: white;
  color: black;
  border: 2px solid #ff9efc;
}
.story .story1 button:hover {
  background-color: #ff9efc;
  color: white;
}
@media (max-width: 500px) {
  .story .story1 {
    width: 97%;
  }
  .story .story1 img {
    padding: 0%;
    margin-top: 1%;
  }
  .story .story1 button {
    margin: 1% 25%;
  }
}
.story .story2 {
  width: 30%;
}
.story .story2 img {
  width: 100%;
  padding: 3%;
}
.story .story2 p {
  text-align: center;
  padding: 3% 9%;
}
.story .story2 button {
  padding: 1%;
  border-radius: 8px;
  background: grey;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 2% 29%;
  background-color: white;
  color: black;
  border: 2px solid #ff9efc;
  width: 50%;
}
.story .story2 button:hover {
  background-color: #ff9efc;
  color: white;
}
@media (max-width: 500px) {
  .story .story2 {
    width: 97%;
  }
  .story .story2 img {
    padding: 0%;
    margin-top: 2%;
  }
  .story .story2 button {
    margin: 1% 22%;
  }
}
.story .story3 {
  width: 30%;
}
.story .story3 img {
  width: 94%;
  padding: 3%;
}
.story .story3 p {
  text-align: center;
  padding: 3% 9%;
}
.story .story3 button {
  padding: 1%;
  border-radius: 8px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 2% 29%;
  width: 50%;
  background-color: white;
  color: black;
  border: 2px solid #ff9efc;
}
.story .story3 button:hover {
  background-color: #ff9efc;
  color: white;
}
@media (max-width: 500px) {
  .story .story3 {
    width: 97%;
  }
  .story .story3 img {
    padding: 0%;
    width: 100%;
    margin-top: 1%;
  }
  .story .story3 button {
    margin: 1% 25%;
  }
}
.about {
  width: 97%;
  margin: 2%;
}
.about p {
  text-align: center;
}
.aboutus-intro {
  font-size: 40px;
  align-items: center;
  padding: 2%;
  display: flex;
  justify-content: center;
}
.team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 500px) {
  .team-members {
    width: 100%;
    height: 50%;
  }
}
.team-members .indiv-member {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  border: 1px dotted #ff9efc;
  padding: 2%;
}
@media (max-width: 500px) {
  .team-members .indiv-member {
    width: 100%;
  }
}
.team-members .img-member {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
@media (max-width: 500px) {
  .team-members .img-member {
    width: 50%;
    height: 50%;
  }
}
.team-members .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.team-members .info .name {
  margin: 2%;
}
.team-members .info .title {
  font-size: 13px;
  padding: 2%;
}
.team-members .info .follow a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 2%;
}
.team-members .info .follow a:hover {
  color: #ff9efc;
}
.contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dotted #ff9efc;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .contactus {
    width: 100%;
    background: #f7caf6;
  }
}
.contactus .title-contactus {
  font-size: 20px;
  margin: 2%;
}
.contactus button {
  padding: 1%;
  border-radius: 8px;
  font-size: 15px;
  align-items: center;
  text-align: center;
  width: 110%;
  background-color: white;
  color: black;
  border: 2px solid #ff9efc;
}
.contactus button:hover {
  background-color: #ff9efc;
  color: white;
}
