.story{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    .story1{
        width: 30%;

        img{
            width: 100%;
            padding: 3%;
        }
        p{
            text-align: center; 
            padding: 3% 9%;
         }
         button{
            padding: 1%;
            border-radius: 8px;
            background: grey;
            font-size: 20px;
            align-items: center;
            text-align: center;
            margin: 2% 28%;
         }
    }//end of story1
    .story2{
        width: 30%;

        img{
            width: 100%;
            padding: 3%;
        }
        p{
            text-align: center; 
            padding: 3% 9%;
         }
         button{
            padding: 1%;
            border-radius: 8px;
            background: grey;
            font-size: 20px;
            align-items: center;
            text-align: center;
            margin: 2% 28%;
         }
    }//end of story2

    .story3{
        width: 30%;

        img{
            width: 100%;
            padding: 3%;
        }
        p{
            text-align: center; 
            padding: 3% 9%;
         }
         button{
            padding: 1%;
            border-radius: 8px;
            background: grey;
            font-size: 20px;
            align-items: center;
            text-align: center;
            margin: 2% 28%;
         }
    }//end of story3
}//end of about
    .about{
        width: 97%;
        padding: 3%;
    
        h4{
            font-size: 18px;
            text-align: center;
        }
        p{
           text-align: center; 
        }
        
    }//end of about-text
