.story{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
    .story1{
        width: 30%;

        img{
            width: 100%;
            padding: 3%;
        }
        p{
            text-align: center; 
            padding: 3% 9%;
         }
         button{
            padding: 1%;
            border-radius: 8px;
            background: grey;
            font-size: 20px;
            align-items: center;
            text-align: center;
            margin: 2% 25%;
            background-color: white; 
            color: black; 
            border: 2px solid rgb(255, 158, 252);
         }

         button:hover{
            background-color:rgb(255, 158, 252);
            color: white;
        }
    }//end of story1
    .story2{
        width: 30%;

        img{
            width: 100%;
            padding: 3%;
        }
        p{
            text-align: center; 
            padding: 3% 9%;
         }
         button{
            padding: 1%;
            border-radius: 8px;
            background: grey;
            font-size: 20px;
            align-items: center;
            text-align: center;
            margin: 2% 25%;
            background-color: white; 
            color: black; 
            border: 2px solid rgb(255, 158, 252);
         }

         button:hover{
            background-color:rgb(255, 158, 252);
            color: white;
        }
    }//end of story2

    .story3{
        width: 30%;

        img{
            width: 94%;
            padding: 3%;
        }
        p{
            text-align: center; 
            padding: 3% 9%;
         }
         button{
            padding: 1%;
            border-radius: 8px;
            font-size: 20px;
            align-items: center;
            text-align: center;
            margin: 2% 25%;
            background-color: white; 
            color: black; 
            border: 2px solid rgb(255, 158, 252);
         }

         button:hover{
            background-color:rgb(255, 158, 252);
            color: white;
        }
    }//end of story3
    
    // @media @Phone{
    //     flex-direction: row-reverse;
    // }

}//end of story
    .about{
        width: 97%;
        padding: 3%;
    
        h4{
            font-size: 18px;
            text-align: center;
        }
        p{
           text-align: center; 
        }
        
    }//end of about-text
