.center(){
    display:flex;
    justify-content: center;
    align-items: center;
}
.button(){
    padding: 1%;
    border-radius: 8px;
    background: grey;
    font-size: 20px;
    align-items: center;
    text-align: center;
    margin: 2% 29%;
    width: 50%;
    background-color: white; 
    color: black; 
    border: 2px solid @main-color;
}
@media @phone {
    width: 100%;
    text-align: center;
}
