.nav-bar{
    // .center();
    display: flex;
    justify-content: center;
    align-items: center;
    background: chocolate;
    flex-direction: column;
  
    .header-img{
        position: absolute;
        width: 60%;
        height: 50%;
        top: 5%;
    }
}